@import "./utils/varieble";
@import"./utils/placeholders";
@import"./utils/mixins";
@import"./utils/visual-hiden";

@import"./base/base";
@import"./base/section";
@import"./base/container";

@import"./components/modal-btn";
@import"./components/logo";
@import"./components/site-nav";
@import'./components/contacts';
@import"./components/backdrop";
@import"./components/modal-window";
@import"./components/modal-form";
@import"./components/overley";

@import"./layout/hero";
@import"./layout/quality";
@import"./layout/work";
@import"./layout/team";
@import"./layout/customer";
@import"./layout/footer";
@import"./layout/portfolio-projects-title";

