.customer-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}
.customer-list {
    display: flex;
    gap: 30px;
    list-style: none;
}
.customer-link {
    @extend %aline;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: var(--social-lincs-color);
    transition: color var(--hover-focus-transition), border-color var(--hover-focus-transition);
    &:hover,
    &:focus {
            border-color: var(--accent-text-color);
            color: var(--accent-text-color);
        }
}

.customer-link__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
    transition: fill var(--hover-focus-transition);
        .customer-link:hover &,
        .customer-link:focus & {
            fill: var(--accent-text-color);
            cursor: pointer;
        }
}
