.hero {
    background-color: var(--primary-bcg-color);
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img/imghero.jpg");
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-secondary-text-color);
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
}