.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: opacity var(--hover-focus-transition), visibility var(--hover-focus-transition);

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}