.heder-container {
    display: flex;
    align-items: baseline
}

.header-contacts,
.site-nav {
    list-style: none;
}

.header-contacts {
    margin-left: auto;
    column-gap: 50px;
}

.icon-contacts {
    display: flex;
    align-items: center;
}

.above {
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text-color);
    transition: color var(--hover-focus-transition);
        .icon-contacts:hover &,
        .icon-contacts:focus & {
            color: var(--accent-text-color);
        }
}

.above__icon {
    margin-right: 10px;
    fill: currentColor;
}

