.logo {
    color: var(--accent-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-decoration: none;
    @media screen and (min-width: 1200px){
    font-size: 26px;
    line-height: 31px; 
}
}


.logo_top {
    color: var(--text-logo-color);
}

.logo_down {
    color: var(--accent-secondary-text-color);
}

.header-logo {
    padding: 16px 0;
    margin-right: auto;
}
