.logo {
    color: var(--accent-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}


.logo_top {
    color: var(--text-logo-color);
}

.logo_down {
    color: var(--accent-secondary-text-color);
}

.header-logo {
    padding: 25px 0;
    margin-right: 93px;
}