.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--accent-secondary-text-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--hover-focus-transition), visibility var(--hover-focus-transition);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu__container {
    position: relative;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    transition: color var(--hover-focus-transition);
            &:hover,
            &:focus {
            fill: var(--accent-text-color);
        }
}
.mobile-menu__close-icon {
width: 40px;
height: 40px;
}
.mobile-menu__site-nav {
    display: flex;
    column-gap: 50px;
    flex-direction: column;
    gap: 32px;
    padding-top: 48px;
    
     .mobile-menu__item_link {
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        text-decoration: none;
      }

    }
  .mobile-menu__item_link.mobile-menu__item_current {
         color: var(--accent-text-color);
}
.mobile-menu__contacts,
 .mobile-menu__site-nav,
 .mobile-menu__social-list {
     list-style: none;
 }
 .mobile-menu__contacts {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 64px;
    gap: 32px;
 }
 .mobile-menu__pone {
    font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--accent-text-color);
 }
 .mobile-menu__mail {
    font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--secondary-text-color);
 }
 .mobile-menu__social-list {
    display: flex;
    gap: 10px;
    margin-bottom: 48px;
    flex-wrap: wrap;
 }
 
 .mobile-menu__social-link {
    text-decoration: none;
    padding-right: 10px;
    font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: var(--accent-text-color);
        
 }
 .mobile-menu__social-link__item:not(:last-child) {
border-right: 1px solid rgba(33, 33, 33, 0.2);
 }
 
 