.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}
.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form-field {
    margin-bottom: 10px;
}
.modal-form-imput {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--hover-focus-transition);
    &:focus {
            border-color: var(--accent-text-color);
            outline: none;
            cursor: pointer;
        }
}

.modal-form-field-lact {
    margin-bottom: 20px;
}
.modal-form-field-desc {
    display: block;
    @include font(12px, 400, 14px);
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}
.modal-icon {
    position: relative;
    display: block;
}
.modal-icon-black {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    transition: fill var(--hover-focus-transition);
    
    .modal-form-imput:focus+& {
            fill: var(--accent-text-color);
        }
}

.modal-form-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color var(--hover-focus-transition);

    &:focus {
        outline: none;
        border-color: var(--accent-text-color);
    }

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}
.modal-form-check {
    appearance: none;
    position: absolute;
}
.modal-form-check-field {
    @extend %aline;
    margin-bottom: 30px;
}
.modal-form-own-checkbox {
    width: 16px;
    height: 15px;
    cursor: pointer;
    border: 1px solid var(--primary-text-color);
    border-radius: 4px;
    margin-right: 8.5px;
    .modal-form-check:checked+& {
            background-color: var(--accent-text-color);
            border: none;
        }
}
.modal-form-own-checkbox-icon {
    display: none;
    .modal-form-check:checked+.modal-form-own-checkbox & {
            display: block;
        }
}

.agriment {
    color: var(--accent-text-color);
    cursor: pointer;
    text-decoration: underline;
}
.modal-form-sumbit {
    width: 200px;
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    align-self: center;
    @include font ( 16px, 700, 30px);
    letter-spacing: 0.06em;
    color: var(--accent-secondary-text-color);
    cursor: pointer;
    padding: 10px 52px;
}