.overley {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    color: #FFFFFF;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .border-card-link:hover &,
        .border-card-link:focus & {
            transform: translateY(0);
        }
}

