



.site-nav {
    column-gap: 50px;
     .menu-item_link {
            color: var(--primary-text-color);
            font-weight: 500;
            letter-spacing: 0.02em;
            text-decoration: none;
            cursor: pointer;
            transition: color var(--hover-focus-transition);
            &:hover,
            &:focus {
                color: var(--accent-text-color);
            }
        }
        
}
.menu-item_link.menu-item_current {
    color: var(--accent-text-color);
    &::after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            margin-top: 28px;
            background-color: var(--accent-text-color);
            border-radius: 2px;
        }
}



